<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139402985188-ikkmchc2t1sg7h8g670ad9a94fdk5mmf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139402985188-ikkmchc2t1sg7h8g670ad9a94fdk5mmf</string>
	<key>API_KEY</key>
	<string>AIzaSyBzsaddpV3aFn1m8tXJq-QSeKuxqo-7ziQ</string>
	<key>GCM_SENDER_ID</key>
	<string>139402985188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uzihoon.bobbalggun</string>
	<key>PROJECT_ID</key>
	<string>bobalggun-95c2a</string>
	<key>STORAGE_BUCKET</key>
	<string>bobalggun-95c2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139402985188:ios:a82eb7fcb15adc36de36f1</string>
	<key>DATABASE_URL</key>
	<string>https://bobalggun-95c2a.firebaseio.com</string>
</dict>
</plist>